@font-face {
    font-family: "debbyscript";
    src: url("./fonts/debby-webfont.woff2") format("woff2"),
    url("./fonts/debby-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}